header.main {
    margin-bottom: 25px;

    .social {
        float: right;
    }
}

/* Mobile */
@media (max-width: $breakpoint) {
    header.main {
        text-align: center;

        .social {
            display: none;
        }
    }
}
